# Entornos virtuales
.venv/
venv/
ENV/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos de entorno y secretos (NUNCA SUBIR A GITHUB)
.env
.env.*
.env.local

# Claves y credenciales GCP (service account keys en JSON)
credentials/
keys/
*-key.json
*credentials*.json
service-account*.json

# Archivos de Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
*.auto.tfvars

# dbt
dbt_packages/
target/
logs/

# OS / editor
.DS_Store
*.log